In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
conn = sqlite3.connect("drive/MyDrive/Projeto_Final_Ebac-Futebol_Europeu/database.sqlite")

In [5]:
player_attributes = pd.read_csv('/content/drive/MyDrive/Projeto_Final_Ebac-Futebol_Europeu/overall_completo.csv')
analise_gols = pd.read_csv('/content/drive/MyDrive/Projeto_Final_Ebac-Futebol_Europeu/analise_gols_por_time.csv')
partidas_europeias = pd.read_csv('/content/drive/MyDrive/Projeto_Final_Ebac-Futebol_Europeu/partidas_com_ligas_e_paises.csv')

In [6]:
print('Caracteristicas Jogadores:\n', player_attributes)
print('Análise de Gols:\n', analise_gols)
print('Partidas Europeias:\n', partidas_europeias)

Caracteristicas Jogadores:
        player_api_id        player_name  altura  peso_incial  peso_final  \
0               2625  Patryk Rachwal,18  175.26          154         154
1               2752        Diego Mainz  187.96          174         174
2               2768        Jose Dorado  180.34          154         154
3               2770   Ignacio Gonzalez  180.34          161         161
4               2790        Alberto Rey  175.26          163         163
...              ...                ...     ...          ...         ...
11055         744907        Greg Taylor  172.72          137         137
11056         746419   Francisco Afonso  175.26          152         152
11057         748432     Fynn Arkenberg  187.96          176         176
11058         750435     Rees Greenwood  172.72          150         150
11059         750584  Alexandre Azevedo  175.26          150         150

      primeira_data  primeiro_overall ultima_data  ultimo_overall  \
0        2007-02-22              63.0  2015-01-16            61.0
1        2007-02-22              62.0  2015-10-16            72.0
2        2007-02-22              56.0  2016-03-17            74.0
3        2007-02-22              73.0  2013-07-05            69.0
4        2007-02-22              68.0  2010-08-30            67.0
...             ...               ...         ...             ...
11055    2007-02-22              51.0  2016-06-09            53.0
11056    2007-02-22              59.0  2016-05-12            59.0
11057    2007-02-22              58.0  2016-05-12            58.0
11058    2007-02-22              56.0  2016-04-14            60.0
11059    2007-02-22              58.0  2016-05-19            58.0

       idade_inicial  idade_final  evolucao
0                 26           33      -2.0
1                 24           32      10.0
2                 24           33      18.0
3                 24           31      -4.0
4                 33           36      -5.0
...              ...          ...       ...
11055              9           18       2.0
11056              9           19       0.0
11057             10           20       0.0
11058             11           20       4.0
11059             10           19       0.0

[11060 rows x 12 columns]
Análise de Gols:
          season  team_api_id                  time  total_gols_scored  \
0     2010/2011         8483             Blackpool                 55
1     2008/2009         7947         FCV Dender EH                 44
2     2015/2016         7896                Lugano                 46
3     2008/2009         9996  Royal Excel Mouscron                 42
4     2015/2016         8306         UD Las Palmas                 45
...         ...          ...                   ...                ...
1476  2013/2014         7841            Rio Ave FC                 21
1477  2008/2009         7841            Rio Ave FC                 20
1478  2013/2014         8475      Waasland-Beveren                  7
1479  2013/2014         9991              KAA Gent                 11
1480  2013/2014         9989             Lierse SK                  5

      total_partidas  media_gols_partida
0                 38            1.447368
1                 34            1.294118
2                 36            1.277778
3                 34            1.235294
4                 38            1.184211
...              ...                 ...
1476             248            0.084677
1477             248            0.080645
1478              96            0.072917
1479             218            0.050459
1480             126            0.039683

[1481 rows x 6 columns]
Partidas Europeias:
           id  country_id  league_id     season  stage                 date  \
0          1           1          1  2008/2009      1  2008-08-17 00:00:00
1          2           1          1  2008/2009      1  2008-08-16 00:00:00
2          3           1          1  2008/2009      1  2008-08-16 00:00:00
3          4           1          1  2008/2009      1  2008-08-17 00:00:00
4          5           1          1  2008/2009      1  2008-08-16 00:00:00
...      ...         ...        ...        ...    ...                  ...
25974  25975       24558      24558  2015/2016      9  2015-09-22 00:00:00
25975  25976       24558      24558  2015/2016      9  2015-09-23 00:00:00
25976  25977       24558      24558  2015/2016      9  2015-09-23 00:00:00
25977  25978       24558      24558  2015/2016      9  2015-09-22 00:00:00
25978  25979       24558      24558  2015/2016      9  2015-09-23 00:00:00

       match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...  \
0            492473              9987              9993               1  ...
1            492474             10000              9994               0  ...
2            492475              9984              8635               0  ...
3            492476              9991              9998               5  ...
4            492477              7947              9985               1  ...
...             ...               ...               ...             ...  ...
25974       1992091             10190             10191               1  ...
25975       1992092              9824             10199               1  ...
25976       1992093              9956             10179               2  ...
25977       1992094              7896             10243               0  ...
25978       1992095             10192              9931               4  ...

        VCD   VCA   GBH   GBD   GBA   BSH   BSD   BSA  \
0      3.40  4.50  1.78  3.25  4.00  1.73  3.40  4.20
1      3.25  3.25  1.85  3.25  3.75  1.91  3.25  3.60
2      3.25  2.65  2.50  3.20  2.50  2.30  3.20  2.75
3      3.75  6.50  1.50  3.75  5.50  1.44  3.75  6.50
4      3.40  1.65  4.50  3.50  1.65  4.75  3.30  1.67
...     ...   ...   ...   ...   ...   ...   ...   ...
25974   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25975   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25976   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25977   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25978   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

                    league_name  country_name
0        Belgium Jupiler League       Belgium
1        Belgium Jupiler League       Belgium
2        Belgium Jupiler League       Belgium
3        Belgium Jupiler League       Belgium
4        Belgium Jupiler League       Belgium
...                         ...           ...
25974  Switzerland Super League   Switzerland
25975  Switzerland Super League   Switzerland
25976  Switzerland Super League   Switzerland
25977  Switzerland Super League   Switzerland
25978  Switzerland Super League   Switzerland

[25979 rows x 117 columns]

In [7]:
#Criando uma funcao que contenha a coluna Season para a tabela dos jogadores
def define_season(date):
  if pd.isnull(date):
    return None
  if date.month < 7:
    return f"{date.year - 1}/{date.year}"
  else:
    return f"{date.year}/{date.year + 1}"

# Convert the date columns to datetime objects BEFORE applying the function
player_attributes['primeira_data'] = pd.to_datetime(player_attributes['primeira_data'], errors='coerce')
player_attributes['ultima_data'] = pd.to_datetime(player_attributes['ultima_data'], errors='coerce')

# Apply the define_season function to the converted datetime columns
player_attributes['season_first'] = player_attributes['primeira_data'].apply(define_season)
player_attributes['season_last'] = player_attributes['ultima_data'].apply(define_season)

print(player_attributes[['primeira_data', 'season_first', 'ultima_data', 'season_last']].head(10))

  primeira_data season_first ultima_data season_last
0    2007-02-22    2006/2007  2015-01-16   2014/2015
1    2007-02-22    2006/2007  2015-10-16   2015/2016
2    2007-02-22    2006/2007  2016-03-17   2015/2016
3    2007-02-22    2006/2007  2013-07-05   2013/2014
4    2007-02-22    2006/2007  2010-08-30   2010/2011
5    2007-02-22    2006/2007  2016-01-21   2015/2016
6    2007-02-22    2006/2007  2015-11-19   2015/2016
7    2007-02-22    2006/2007  2016-04-28   2015/2016
8    2007-02-22    2006/2007  2014-04-11   2013/2014
9    2007-02-22    2006/2007  2015-11-26   2015/2016

In [8]:
print(player_attributes)

       player_api_id        player_name  altura  peso_incial  peso_final  \
0               2625  Patryk Rachwal,18  175.26          154         154
1               2752        Diego Mainz  187.96          174         174
2               2768        Jose Dorado  180.34          154         154
3               2770   Ignacio Gonzalez  180.34          161         161
4               2790        Alberto Rey  175.26          163         163
...              ...                ...     ...          ...         ...
11055         744907        Greg Taylor  172.72          137         137
11056         746419   Francisco Afonso  175.26          152         152
11057         748432     Fynn Arkenberg  187.96          176         176
11058         750435     Rees Greenwood  172.72          150         150
11059         750584  Alexandre Azevedo  175.26          150         150

      primeira_data  primeiro_overall ultima_data  ultimo_overall  \
0        2007-02-22              63.0  2015-01-16            61.0
1        2007-02-22              62.0  2015-10-16            72.0
2        2007-02-22              56.0  2016-03-17            74.0
3        2007-02-22              73.0  2013-07-05            69.0
4        2007-02-22              68.0  2010-08-30            67.0
...             ...               ...         ...             ...
11055    2007-02-22              51.0  2016-06-09            53.0
11056    2007-02-22              59.0  2016-05-12            59.0
11057    2007-02-22              58.0  2016-05-12            58.0
11058    2007-02-22              56.0  2016-04-14            60.0
11059    2007-02-22              58.0  2016-05-19            58.0

       idade_inicial  idade_final  evolucao season_first season_last
0                 26           33      -2.0    2006/2007   2014/2015
1                 24           32      10.0    2006/2007   2015/2016
2                 24           33      18.0    2006/2007   2015/2016
3                 24           31      -4.0    2006/2007   2013/2014
4                 33           36      -5.0    2006/2007   2010/2011
...              ...          ...       ...          ...         ...
11055              9           18       2.0    2006/2007   2015/2016
11056              9           19       0.0    2006/2007   2015/2016
11057             10           20       0.0    2006/2007   2015/2016
11058             11           20       4.0    2006/2007   2015/2016
11059             10           19       0.0    2006/2007   2015/2016

[11060 rows x 14 columns]

In [9]:
def define_season(date):
  ano = date.year
  if date.month >= 7:
    return f"{ano}/{ano+1}"
  else:
    return f"{ano-1}/{ano}"

player_attributes['season'] = player_attributes['ultima_data'].apply(define_season)

In [10]:
print(player_attributes)

       player_api_id        player_name  altura  peso_incial  peso_final  \
0               2625  Patryk Rachwal,18  175.26          154         154
1               2752        Diego Mainz  187.96          174         174
2               2768        Jose Dorado  180.34          154         154
3               2770   Ignacio Gonzalez  180.34          161         161
4               2790        Alberto Rey  175.26          163         163
...              ...                ...     ...          ...         ...
11055         744907        Greg Taylor  172.72          137         137
11056         746419   Francisco Afonso  175.26          152         152
11057         748432     Fynn Arkenberg  187.96          176         176
11058         750435     Rees Greenwood  172.72          150         150
11059         750584  Alexandre Azevedo  175.26          150         150

      primeira_data  primeiro_overall ultima_data  ultimo_overall  \
0        2007-02-22              63.0  2015-01-16            61.0
1        2007-02-22              62.0  2015-10-16            72.0
2        2007-02-22              56.0  2016-03-17            74.0
3        2007-02-22              73.0  2013-07-05            69.0
4        2007-02-22              68.0  2010-08-30            67.0
...             ...               ...         ...             ...
11055    2007-02-22              51.0  2016-06-09            53.0
11056    2007-02-22              59.0  2016-05-12            59.0
11057    2007-02-22              58.0  2016-05-12            58.0
11058    2007-02-22              56.0  2016-04-14            60.0
11059    2007-02-22              58.0  2016-05-19            58.0

       idade_inicial  idade_final  evolucao season_first season_last  \
0                 26           33      -2.0    2006/2007   2014/2015
1                 24           32      10.0    2006/2007   2015/2016
2                 24           33      18.0    2006/2007   2015/2016
3                 24           31      -4.0    2006/2007   2013/2014
4                 33           36      -5.0    2006/2007   2010/2011
...              ...          ...       ...          ...         ...
11055              9           18       2.0    2006/2007   2015/2016
11056              9           19       0.0    2006/2007   2015/2016
11057             10           20       0.0    2006/2007   2015/2016
11058             11           20       4.0    2006/2007   2015/2016
11059             10           19       0.0    2006/2007   2015/2016

          season
0      2014/2015
1      2015/2016
2      2015/2016
3      2013/2014
4      2010/2011
...          ...
11055  2015/2016
11056  2015/2016
11057  2015/2016
11058  2015/2016
11059  2015/2016

[11060 rows x 15 columns]

In [11]:
print(partidas_europeias[['season', 'country_name', 'league_name', 'home_team_goal', 'away_team_goal']])

          season country_name               league_name  home_team_goal  \
0      2008/2009      Belgium    Belgium Jupiler League               1
1      2008/2009      Belgium    Belgium Jupiler League               0
2      2008/2009      Belgium    Belgium Jupiler League               0
3      2008/2009      Belgium    Belgium Jupiler League               5
4      2008/2009      Belgium    Belgium Jupiler League               1
...          ...          ...                       ...             ...
25974  2015/2016  Switzerland  Switzerland Super League               1
25975  2015/2016  Switzerland  Switzerland Super League               1
25976  2015/2016  Switzerland  Switzerland Super League               2
25977  2015/2016  Switzerland  Switzerland Super League               0
25978  2015/2016  Switzerland  Switzerland Super League               4

       away_team_goal
0                   1
1                   0
2                   3
3                   0
4                   3
...               ...
25974               0
25975               2
25976               0
25977               0
25978               3

[25979 rows x 5 columns]

In [12]:
print(partidas_europeias.columns.tolist())

['id', 'country_id', 'league_id', 'season', 'stage', 'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal', 'away_team_goal', 'home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4', 'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8', 'home_player_X9', 'home_player_X10', 'home_player_X11', 'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4', 'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8', 'away_player_X9', 'away_player_X10', 'away_player_X11', 'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4', 'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8', 'home_player_Y9', 'home_player_Y10', 'home_player_Y11', 'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4', 'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8', 'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA', 'league_name', 'country_name']

In [13]:
colunas_relevantes = [
    'country_id',
    'league_id',
    'season',
    'stage',
    'date',
    'match_api_id',
    'home_team_api_id',
    'away_team_api_id',
    'home_team_goal',
    'away_team_goal',
    'card',
    'possession',
    'league_name',
    'country_name'
]

In [14]:
partidas_filtradas = partidas_europeias[colunas_relevantes]

In [15]:
print(partidas_filtradas)

       country_id  league_id     season  stage                 date  \
0               1          1  2008/2009      1  2008-08-17 00:00:00
1               1          1  2008/2009      1  2008-08-16 00:00:00
2               1          1  2008/2009      1  2008-08-16 00:00:00
3               1          1  2008/2009      1  2008-08-17 00:00:00
4               1          1  2008/2009      1  2008-08-16 00:00:00
...           ...        ...        ...    ...                  ...
25974       24558      24558  2015/2016      9  2015-09-22 00:00:00
25975       24558      24558  2015/2016      9  2015-09-23 00:00:00
25976       24558      24558  2015/2016      9  2015-09-23 00:00:00
25977       24558      24558  2015/2016      9  2015-09-22 00:00:00
25978       24558      24558  2015/2016      9  2015-09-23 00:00:00

       match_api_id  home_team_api_id  away_team_api_id  home_team_goal  \
0            492473              9987              9993               1
1            492474             10000              9994               0
2            492475              9984              8635               0
3            492476              9991              9998               5
4            492477              7947              9985               1
...             ...               ...               ...             ...
25974       1992091             10190             10191               1
25975       1992092              9824             10199               1
25976       1992093              9956             10179               2
25977       1992094              7896             10243               0
25978       1992095             10192              9931               4

       away_team_goal card possession               league_name country_name
0                   1  NaN        NaN    Belgium Jupiler League      Belgium
1                   0  NaN        NaN    Belgium Jupiler League      Belgium
2                   3  NaN        NaN    Belgium Jupiler League      Belgium
3                   0  NaN        NaN    Belgium Jupiler League      Belgium
4                   3  NaN        NaN    Belgium Jupiler League      Belgium
...               ...  ...        ...                       ...          ...
25974               0  NaN        NaN  Switzerland Super League  Switzerland
25975               2  NaN        NaN  Switzerland Super League  Switzerland
25976               0  NaN        NaN  Switzerland Super League  Switzerland
25977               0  NaN        NaN  Switzerland Super League  Switzerland
25978               3  NaN        NaN  Switzerland Super League  Switzerland

[25979 rows x 14 columns]

In [16]:
partidas_filtradas['card'].notna().any()

np.True_

In [17]:
partidas_filtradas['possession'].notna().any()

np.True_

In [18]:
partidas_filtradas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_id        25979 non-null  int64
 1   league_id         25979 non-null  int64
 2   season            25979 non-null  object
 3   stage             25979 non-null  int64
 4   date              25979 non-null  object
 5   match_api_id      25979 non-null  int64
 6   home_team_api_id  25979 non-null  int64
 7   away_team_api_id  25979 non-null  int64
 8   home_team_goal    25979 non-null  int64
 9   away_team_goal    25979 non-null  int64
 10  card              14217 non-null  object
 11  possession        14217 non-null  object
 12  league_name       25979 non-null  object
 13  country_name      25979 non-null  object
dtypes: int64(8), object(6)
memory usage: 2.8+ MB

In [19]:
partidas_filtradas['date'] = pd.to_datetime(partidas_filtradas['date'])

/tmp/ipython-input-2490248204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partidas_filtradas['date'] = pd.to_datetime(partidas_filtradas['date'])

In [20]:
print(analise_gols)

         season  team_api_id                  time  total_gols_scored  \
0     2010/2011         8483             Blackpool                 55
1     2008/2009         7947         FCV Dender EH                 44
2     2015/2016         7896                Lugano                 46
3     2008/2009         9996  Royal Excel Mouscron                 42
4     2015/2016         8306         UD Las Palmas                 45
...         ...          ...                   ...                ...
1476  2013/2014         7841            Rio Ave FC                 21
1477  2008/2009         7841            Rio Ave FC                 20
1478  2013/2014         8475      Waasland-Beveren                  7
1479  2013/2014         9991              KAA Gent                 11
1480  2013/2014         9989             Lierse SK                  5

      total_partidas  media_gols_partida
0                 38            1.447368
1                 34            1.294118
2                 36            1.277778
3                 34            1.235294
4                 38            1.184211
...              ...                 ...
1476             248            0.084677
1477             248            0.080645
1478              96            0.072917
1479             218            0.050459
1480             126            0.039683

[1481 rows x 6 columns]

In [21]:
#Padronizar as colunas team_api para se comunicar com a tabela ['analise_gols']
home = partidas_filtradas.copy()
home['team_api_id'] = home['home_team_api_id']
home['home_away'] = 'home'

away = partidas_filtradas.copy()
away['team_api_id'] = away['away_team_api_id']
away['home_away'] = 'away'

partidas_filtradas = pd.concat([home, away])

partidas_long = pd.concat([home, away], ignore_index=True)

In [22]:
print(partidas_long)

       country_id  league_id     season  stage       date  match_api_id  \
0               1          1  2008/2009      1 2008-08-17        492473
1               1          1  2008/2009      1 2008-08-16        492474
2               1          1  2008/2009      1 2008-08-16        492475
3               1          1  2008/2009      1 2008-08-17        492476
4               1          1  2008/2009      1 2008-08-16        492477
...           ...        ...        ...    ...        ...           ...
51953       24558      24558  2015/2016      9 2015-09-22       1992091
51954       24558      24558  2015/2016      9 2015-09-23       1992092
51955       24558      24558  2015/2016      9 2015-09-23       1992093
51956       24558      24558  2015/2016      9 2015-09-22       1992094
51957       24558      24558  2015/2016      9 2015-09-23       1992095

       home_team_api_id  away_team_api_id  home_team_goal  away_team_goal  \
0                  9987              9993               1               1
1                 10000              9994               0               0
2                  9984              8635               0               3
3                  9991              9998               5               0
4                  7947              9985               1               3
...                 ...               ...             ...             ...
51953             10190             10191               1               0
51954              9824             10199               1               2
51955              9956             10179               2               0
51956              7896             10243               0               0
51957             10192              9931               4               3

      card possession               league_name country_name  team_api_id  \
0      NaN        NaN    Belgium Jupiler League      Belgium         9987
1      NaN        NaN    Belgium Jupiler League      Belgium        10000
2      NaN        NaN    Belgium Jupiler League      Belgium         9984
3      NaN        NaN    Belgium Jupiler League      Belgium         9991
4      NaN        NaN    Belgium Jupiler League      Belgium         7947
...    ...        ...                       ...          ...          ...
51953  NaN        NaN  Switzerland Super League  Switzerland        10191
51954  NaN        NaN  Switzerland Super League  Switzerland        10199
51955  NaN        NaN  Switzerland Super League  Switzerland        10179
51956  NaN        NaN  Switzerland Super League  Switzerland        10243
51957  NaN        NaN  Switzerland Super League  Switzerland         9931

      home_away
0          home
1          home
2          home
3          home
4          home
...         ...
51953      away
51954      away
51955      away
51956      away
51957      away

[51958 rows x 16 columns]

In [24]:
player_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player_api_id     11060 non-null  int64
 1   player_name       11060 non-null  object
 2   altura            11060 non-null  float64
 3   peso_incial       11060 non-null  int64
 4   peso_final        11060 non-null  int64
 5   primeira_data     11060 non-null  datetime64[ns]
 6   primeiro_overall  11060 non-null  float64
 7   ultima_data       11060 non-null  datetime64[ns]
 8   ultimo_overall    11060 non-null  float64
 9   idade_inicial     11060 non-null  int64
 10  idade_final       11060 non-null  int64
 11  evolucao          11060 non-null  float64
 12  season_first      11060 non-null  object
 13  season_last       11060 non-null  object
 14  season            11060 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(5), object(4)
memory usage: 1.3+ MB

In [23]:
player_attributes.to_csv('Caracteristicas_Jogadores.csv', index=False)
partidas_long.to_csv('Partidas_Filtradas.csv', index=False)